<div class='booyah-box profile'>
  <div class='col-xs-4'>
    <img src='/assets/profilePicture.jpg' class='profile-image img-responsive'>
    <h1><%= @user.email %></h1>
  </div>
  <div class='col-xs-4'>    
    <h3>Member Since: <%= @user.created_at.strftime("%B  %Y") %></h3>
    <hr />
    <h4> <%=@user.comments.count %> Total Comments</h4> <br />
    <h4> <%=@user.comments.where(rating: '5_star').count %> Five-Star Reviews</h4>
  </div>
  <div class='clear'></div>
</div>
