/* Sticky Footer Styles - copied from Splurty */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
}

.footer-blurb {
  text-align: center;
  color: navy;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.footer-blurb h1 {
  font-size: 16px;
  padding-bottom: 4px;
}
.footer-blurb p {
  font-size: 10px;
}

.dog-paw {
  padding: 0px;
}